// REM布局: 1px
@pr: 1/16rem;

// 主色
@antGreen: #66BB6A;
@antBlue : #82C4F8;
@antGold : #FFBA00;
@antRed  : #f44336;

// 黑白灰
@antTextBlack    : #000000; // 文字黑
@antTextGrey     : #999999; // 文字灰
@antTextWhiteGrey: #A6A6A6; // 文字浅灰
@antTextWhite    : #FFFFFF; // 文字白
@antRippleGrey   :#090909; // 涟漪黑
@antBackGrey     : rgba(#090909, 5%); // 背景浅灰
@antLineGrey     : #E9E9E9; // 线条浅灰

// helper
.clearfix {
  &::after {
    content: '';
    display: block;
    clear  : both;
  }
}