@import '~muse-ui/src/styles/import.less';

// REM布局: 1px
@pr: 1/16rem;

// 主色
@antGreen: #66bb6a;
@antBlue: #60bbf3;
@antGold: #ffba00;
@antRed: #f44336;
@antFibre: #d5d2af;
@antInk: #768fa1;

// 字体黑白灰
@antTextBlack: #000000; // 主内容
@antTextSemi: #353535; // 大段的主要内容
@antTextGrey: #888888; // 次要内容
@antTextLight: #b2b2b2; // 时间戳与表单缺省值
@antTextWhite: #ffffff; // 文字白

// 其他黑白灰
@antBackWhite: #ffffff; // 背景白
@antRippleGrey: #090909; // 涟漪黑
@antBackDark: #616161; // 背景灰
@antBackGrey: #fafafa; // 背景浅灰
@antLineGrey: #f3f3f3; // 线条浅灰

@minWidth: 300 * @pr;
@maxWidth: 1500 * @pr;
@pageMaxWidth: 1000 * @pr;
@footerHeight: 96 * @pr;

// helper
.clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.header-menu-popover {
  position: absolute;
  top: 48 * @pr !important;
  right: 8 * @pr;
  background: @antBackWhite;
  width: auto;
  padding: 0;
  border-radius: 4 * @pr;
  .depth(4);
  .mu-list {
    padding: 0;
  }
  .mu-item {
    height: 48 * @pr;
    font-weight: bold;
    .mu-list-item-title {
      text-overflow: unset;
    }
  }
}
