// REM布局: 1px
@pr: 1/16rem;

// 主色
@antGreen: #66BB6A;
@antBlue : #44B0F2;
@antGold : #FFBA00;
@antRed  : #F44336;

// 字体黑白灰
@antTextBlack : #000000; // 主内容
@antTextSemi  : #353535; // 大段的主要内容
@antTextGrey  : #888888; // 次要内容
@antTextLight : #B2B2B2; // 时间戳与表单缺省值
@antTextWhite : #FFFFFF; // 文字白

// 其他黑白灰
@antBackWhite  : #FFFFFF; // 背景白
@antRippleGrey : #090909; // 涟漪黑
@antBackGrey   : #ECECEC; // 背景浅灰
@antLineGrey   : #ECECEC; // 线条浅灰

// helper
.clearfix {
  &::after {
    content: '';
    display: block;
    clear  : both;
  }
}